.options {
    color: red;
    background-color: black;
}
.table {
    background-color: burlywood;
    width: 100%;
    font-family: arial, sans-serif;
    
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
  }

body{
      background-image:url("https://image.shutterstock.com/image-photo/light-colorful-background-beautiful-bright-260nw-1386218081.jpg");
      background-size: cover;
      size:16px;
    }
    article {
        font-weight: bold;
        line-height: 1.5;
        margin-left:10%;
        margin-right:10%;
    }
  
  
  .pics{
    height:400px;
    width:700px;
    display:inline-block;
    border-radius: 49px;

}
@media only screen and (max-width: 480px) {

    .pics {
        width: 85%;
        height: 85%;
    }

}


header{
    display:inline-block;
    position:fixed;
}


.hpics img{
    height:125px;
    width: 155px;
}
figcaption{
    color: rgb(212, 9, 168);
    font-size:26px;
    font-weight:bold;
    width: 100%;
}
.pic2 {
    color: rgb(17, 6, 6);
}
footer {
    background-color: rgb(186, 194, 194);
    padding-left: 6%;
    border-radius: 25px;
}
h2{
    font-family: "comic sans ms";
    color:rgb(17, 6, 6);
}
h1 {
      
    
    background-color: blue;
    border-radius: 25px;
    color: white; 
    text-align: center;
    font-weight: 1000;
    font-size: 50px;
    font-family:sans-serif;
    padding-bottom: 10px;
    justify-content: center;
    margin-top:95px;
}

nav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}
nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
nav a:hover {
    background: #ddd;
    color: black;
  }
@media only screen and (max-width: 480) {

    h1 {
        margin: 0 auto;
    }
    
    }
